body{font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}
.post{
    width: 300px;
    border: 1px solid gray;
    padding: 1rem;
    border-radius:10px;
}
.vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5em;
}
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
  }

  .logo {
    width: 2rem;
  }
  
  .menu {
    width: 2rem;
  }
  .header-text{
    align-content: flex-start;
    width: 100%;
    gap: 1rem;
  }

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }